.nav-item{
    padding-left: 50px;
}
.news{
   padding-left: 550px;
   font-size: 4rem;
   font-weight: bold;
   color: red;
}
.newsApp{
   padding-top: 50px;
   padding-left: 150px;
   
   padding-right: 150px;
   font-size: 1.2rem;
   border: 2px;
   
   font-weight: bold;
   /* color: red; */
}
.font{
   color: red;
   padding-bottom: 10px;
}
.collapse navbar-collapse{
   color:brown;
}
.w-secCircle > img {
   transform: scale(0.5);
   width: 90rem;
   height: 40rem;
   /* margin-bottom: 27px; */
   position: absolute;
   padding-bottom: 100px;     
   
}
