.slideshow {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .slideshow img {
    width: 40%;
    height: 300px;
    transition: opacity 0.5s ease-in-out;
    
    margin-left: 27rem;
    background-color: aliceblue;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-width: .15rem;
  }
  .text-center{
    font-weight: bold;
    color: rgb(134, 6, 6);
  }
  